n8n-kabala.json
{
  "name": "Kabala — Funil WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kabala-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-001",
      "name": "Receber Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "kabala-lead-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst whatsapp = (body.whatsapp || '').replace(/\\D/g, '');\nconst nome = (body.nome || '').split(' ')[0];\n\nconst chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\nlet code = 'KABA-';\nfor (let i = 0; i < 4; i++) {\n  code += chars[Math.floor(Math.random() * chars.length)];\n}\n\nreturn [{ json: { codigo: code, whatsapp, nome } }];"
      },
      "id": "node-002",
      "name": "Gerar Código",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://script.google.com/macros/s/AKfycbwkzzK0CFvX0nG2xrlRVtAAu3UEM9hcWpcK-AU6L7NTmXjwKk4BJ78bUfWMWqah2M2H/exec?acao=criar&k={{ $json.codigo.toLowerCase() }}&whatsapp={{ $json.whatsapp }}&nome={{ $json.nome }}",
        "options": {}
      },
      "id": "node-003",
      "name": "Registrar na Planilha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F20A0CCB12931FC5CB6EE073B4CAC93/token/5615B118817534E0E1248BB7/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client-token", "value": "F262c53739dd04cca80dae8059ddc3f42S" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Gerar Código').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "={{ 'Axé, ' + $('Gerar Código').item.json.nome + '. 🔱\\n\\nVi que você chamou pra saber mais sobre a Kabala de Mussifin.\\n\\nEntão já te mando direto o material completo 👇\\n\\nTem fundamentos, rituais e explicações que normalmente não são passados de forma aberta.\\n\\n👉 Acessa por aqui:\\nhttps://kabaladexu.netlify.app?codigo=' + $('Gerar Código').item.json.codigo + '\\n\\nSe não preencher automático, usa esse código:\\n' + $('Gerar Código').item.json.codigo + '\\n\\nEntra com calma.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-004",
      "name": "Msg 1 — Acesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 1200,
        "unit": "seconds"
      },
      "id": "node-005",
      "name": "Aguardar 20min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "webhookId": "wait-20min"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F20A0CCB12931FC5CB6EE073B4CAC93/token/5615B118817534E0E1248BB7/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client-token", "value": "F262c53739dd04cca80dae8059ddc3f42S" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Gerar Código').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "Eae, chegou a dar uma olhada? Gostou? 🔱"
            }
          ]
        },
        "options": {}
      },
      "id": "node-006",
      "name": "Msg 2 — Gostou?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Receber Lead": {
      "main": [[{ "node": "Gerar Código", "type": "main", "index": 0 }]]
    },
    "Gerar Código": {
      "main": [[{ "node": "Registrar na Planilha", "type": "main", "index": 0 }]]
    },
    "Registrar na Planilha": {
      "main": [[{ "node": "Msg 1 — Acesso", "type": "main", "index": 0 }]]
    },
    "Msg 1 — Acesso": {
      "main": [[{ "node": "Aguardar 20min", "type": "main", "index": 0 }]]
    },
    "Aguardar 20min": {
      "main": [[{ "node": "Msg 2 — Gostou?", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
