n8n-kabala.json
{
  "name": "Kabala — Funil WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kabala-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-001",
      "name": "Receber Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "kabala-lead-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst whatsapp = (body.whatsapp || '').replace(/\\D/g, '');\nconst nome = (body.nome || '').split(' ')[0];\n\nconst chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\nlet code = 'KABA-';\nfor (let i = 0; i < 4; i++) {\n  code += chars[Math.floor(Math.random() * chars.length)];\n}\n\nreturn [{ json: { codigo: code, whatsapp, nome } }];"
      },
      "id": "node-002",
      "name": "Gerar Código",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://script.google.com/macros/s/AKfycbzvhmsz26l_YOQborHAhwfZN-9c1EfAGf_relG3ORwnkUC2LOhdEh4_4nPF7KRULT1jvA/exec?acao=criar&k={{ $json.codigo.toLowerCase() }}&whatsapp={{ $json.whatsapp }}&nome={{ $json.nome }}",
        "options": {}
      },
      "id": "node-003",
      "name": "Registrar na Planilha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F20A0CCB12931FC5CB6EE073B4CAC93/token/5615B118817534E0E1248BB7/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client-token", "value": "F262c53739dd04cca80dae8059ddc3f42S" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Gerar Código').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "={{ 'Axé, ' + ($('Gerar Código').item.json.nome || 'irmão') + '! 🔱\\n\\nRecebi seu sinal. Deixa eu te mandar algo que pode mudar a forma como você entende a Kabala de Mussifin.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-004",
      "name": "Msg 1 — Abertura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "id": "node-005",
      "name": "Aguardar 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 300],
      "webhookId": "wait-30s"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F20A0CCB12931FC5CB6EE073B4CAC93/token/5615B118817534E0E1248BB7/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client-token", "value": "F262c53739dd04cca80dae8059ddc3f42S" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Gerar Código').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "Olha o que você vai encontrar no *Guia Completo da Kabala de Mussifin*:\n\n📖 16 capítulos sobre feituras, fundamentos e rituais\n🔱 Como as entidades trabalham e o que pedem\n🕯️ O significado de cada gira e oferenda\n⚡ Exu, Pomba Gira, Caboclos, Pretos Velhos — as diferenças\n🌿 Glossário completo da tradição\n\nÉ o guia que eu gostaria de ter tido quando comecei no caminho."
            }
          ]
        },
        "options": {}
      },
      "id": "node-006",
      "name": "Msg 2 — Benefícios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 60,
        "unit": "seconds"
      },
      "id": "node-007",
      "name": "Aguardar 1min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1500, 300],
      "webhookId": "wait-1min"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F20A0CCB12931FC5CB6EE073B4CAC93/token/5615B118817534E0E1248BB7/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client-token", "value": "F262c53739dd04cca80dae8059ddc3f42S" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Gerar Código').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "Vou liberar seu acesso agora. 🙏\n\nO livro é gratuito — axé não se vende, se retribui."
            }
          ]
        },
        "options": {}
      },
      "id": "node-008",
      "name": "Msg 3 — Gancho",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1700, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "id": "node-009",
      "name": "Aguardar 30s (2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1900, 300],
      "webhookId": "wait-30s-2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F20A0CCB12931FC5CB6EE073B4CAC93/token/5615B118817534E0E1248BB7/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client-token", "value": "F262c53739dd04cca80dae8059ddc3f42S" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Gerar Código').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "={{ '✅ Seu código de acesso:\\n\\n*' + $('Gerar Código').item.json.codigo + '*\\n\\n👆 Copia esse código\\n\\nDepois acessa:\\n👉 https://kabaladexu.netlify.app\\n\\nCola o código e clica em Entrar. Laroyê! 🔱' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-010",
      "name": "Msg 4 — Código + Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2100, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "minutes"
      },
      "id": "node-011",
      "name": "Aguardar 30min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2300, 300],
      "webhookId": "wait-30min"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F20A0CCB12931FC5CB6EE073B4CAC93/token/5615B118817534E0E1248BB7/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client-token", "value": "F262c53739dd04cca80dae8059ddc3f42S" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Gerar Código').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "={{ 'E aí, ' + ($('Gerar Código').item.json.nome || 'irmão') + '? Conseguiu acessar o livro? 📖\\n\\nSe tiver alguma dificuldade me fala aqui que eu te ajudo.' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-012",
      "name": "Msg 5 — Check-in",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2500, 300]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 3,
        "unit": "hours"
      },
      "id": "node-013",
      "name": "Aguardar 3h",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2700, 300],
      "webhookId": "wait-3h"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3F20A0CCB12931FC5CB6EE073B4CAC93/token/5615B118817534E0E1248BB7/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "client-token", "value": "F262c53739dd04cca80dae8059ddc3f42S" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Gerar Código').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "={{ ($('Gerar Código').item.json.nome || 'Irmão') + ', se o livro te serviu de alguma forma, existe uma forma bonita de fechar esse ciclo. 🙏\\n\\nUma retribuição voluntária de *R$ 20* ajuda a manter esse trabalho vivo e levar o conhecimento adiante.\\n\\nChave Pix:\\n*b24f3338-b5c9-4e58-875a-1ab0aadcc04b*\\n\\nQuem não puder, leva de axé — sem cobrança, sem dívida.\\n\\nLaroyê, Exu! 🔱' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-014",
      "name": "Msg 6 — Retribuição",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2900, 300]
    }
  ],
  "connections": {
    "Receber Lead": {
      "main": [[{ "node": "Gerar Código", "type": "main", "index": 0 }]]
    },
    "Gerar Código": {
      "main": [[{ "node": "Registrar na Planilha", "type": "main", "index": 0 }]]
    },
    "Registrar na Planilha": {
      "main": [[{ "node": "Msg 1 — Abertura", "type": "main", "index": 0 }]]
    },
    "Msg 1 — Abertura": {
      "main": [[{ "node": "Aguardar 30s", "type": "main", "index": 0 }]]
    },
    "Aguardar 30s": {
      "main": [[{ "node": "Msg 2 — Benefícios", "type": "main", "index": 0 }]]
    },
    "Msg 2 — Benefícios": {
      "main": [[{ "node": "Aguardar 1min", "type": "main", "index": 0 }]]
    },
    "Aguardar 1min": {
      "main": [[{ "node": "Msg 3 — Gancho", "type": "main", "index": 0 }]]
    },
    "Msg 3 — Gancho": {
      "main": [[{ "node": "Aguardar 30s (2)", "type": "main", "index": 0 }]]
    },
    "Aguardar 30s (2)": {
      "main": [[{ "node": "Msg 4 — Código + Link", "type": "main", "index": 0 }]]
    },
    "Msg 4 — Código + Link": {
      "main": [[{ "node": "Aguardar 30min", "type": "main", "index": 0 }]]
    },
    "Aguardar 30min": {
      "main": [[{ "node": "Msg 5 — Check-in", "type": "main", "index": 0 }]]
    },
    "Msg 5 — Check-in": {
      "main": [[{ "node": "Aguardar 3h", "type": "main", "index": 0 }]]
    },
    "Aguardar 3h": {
      "main": [[{ "node": "Msg 6 — Retribuição", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
